<section class="content">
  <div class="landing-sec container-fluid d-flex justify-content-center" >

    <div class="first text-white ">

      <div class="">
        <h2 >
          Language learning for the real-world
        </h2>
        <p >
          Anyone can learn words. edSchool teaches you to build sentences, nail pronunciation and speak with confidence.
        </p>
        <button routerLink="#" class="text-dark btn">
          start learning
        </button>
      </div>

    </div>

    <div class="second ">

      <div>
        <img src="../../../assets/busuu-header-hello.png" alt="landing image" srcset="">
      </div>

    </div>

  </div>
