<div class="container-fluid p-0 m-0">
  <div class=" d-flex " style="background: linear-gradient(20.78deg,#6e00f8 3.3%,#563ce9 27.67%,#116eee 93.23%)">

    <div class="w-50 text-white d-flex flex-column" style="margin-left: 150px;">

      <div style="padding-top: 100px;">
        <h2 class="" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 3rem; font-weight: 800;">
          Language learning for the real-world
        </h2>
        <p class="">
          Anyone can learn words. Busuu teaches you to build sentences, nail pronunciation and speak with confidence.
        </p>
      </div>

    </div>

    <div class="w-50 ">
      <img src="../../../assets/busuu-header-hello.png" alt="landing image" srcset="set src" style="width: 31.5rem; ">
    </div>

  </div>
</div>
