<div class="container bg-light-py-5">
  <h1 class="display-5 fw-bold">
    Welcome to your first Quiz
  </h1>
  <p class="col-md-8 fw-bold">This will contains total 9 questions. Eahc question holds 10 points</p>
  <h4>Rules:</h4>
  <ol>
    <li>Correct Question gives you 10 points</li>
    <li>Incorrect Question mins you -10 points</li>
    <li>You will have 60 sec to answer each questions</li>
    <li>Refereshing the page will reset the Quiz</li>
  </ol>
  <div class="name col-md-4 my-3">
    <label for="name">Enter your name:</label>
    <input #username type="text" class="form-control" id="name"/>
  </div>
  <span class="d-flex justify-content-between align-items-center">
    <button class="btn btn-primary btn-lg" routerLink="/questions" (click)="startQuiz()">Start the Quiz-></button>
    <h6 style="font-family: cursive; margin:0;">All the best!!</h6>
  </span>
</div>
